.main-footer {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto 6.9rem;
    @media screen and (max-width: 768px) {
      row-gap: 5rem;
    }
  }
  &__col {
    @media screen and (max-width: 768px) {
      flex: 0 0 25%;
    }
    @media screen and (max-width: 576px) {
      flex: 0 0 33.3333%;
    }
  }
  &__title {
    margin-bottom: 4.6rem;
    position: relative;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--text-primary);
  }
  &__arrow {
    position: absolute;
    top: 3rem;
    left: 0;
  }
  &__list {
    li:not(:last-child) {
      margin-bottom: 2rem;
    }
    a {
      font-size: 1.5rem;
    }
  }
  &__socials {
    display: flex;
    gap: 1.8rem;
    a {
      display: block;
      transition: scale 0.4s ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__copyright {
    margin-bottom: 2.6rem;
    font-size: 1.5rem;
    line-height: 1.66667;
    text-align: center;
    color: var(--text-primary);
  }
  .logo {
    text-align: center;
  }
}
