.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 7.5rem;
  background: transparent;
  z-index: 3;
  &__wrap {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: auto;
    svg {
      display: block;
    }
  }
  .search {
    padding: 1rem 1.8rem;
    border: none;
    outline: none;
    background: transparent;
    transition: all 0.3s ease;
    svg {
      display: block;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &__btn {
    margin-left: 1.4rem;
  }
}
