.socials {
  display: inline-block;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 13rem;
    height: 2px;
    background: #41ead4;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 2px;
    height: 3rem;
    background: #41ead4;
  }

  &__label {
    margin-bottom: 1.8rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--text-primary);
  }
  &__items {
    display: flex;
    column-gap: 2.3rem;
    svg {
      transition: all 0.3s ease;
    }
    a:hover svg {
      transform: scale(1.2);
    }
  }
}
