.about {
  padding-top: 10.7rem;
  padding-bottom: 25rem;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 992px) {
    padding-top: 8rem;
  }
  &__wrap {
    position: relative;
    display: flex;
    column-gap: 8.8rem;
    margin: 0 auto;
    max-width: 120rem;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &__dotted {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -8rem;
    @media screen and (max-width: 1100px) {
      display: none;
    }
  }

  &__content {
    flex: 1;
    @media screen and (max-width: 992px) {
      margin-bottom: 7rem;
    }
  }
  &__title {
    margin-bottom: 2.2rem;
  }

  &__btn {
    margin-top: 3.8rem;
  }
  &__flex {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    @media screen and (max-width: 992px) {
      max-width: 86%;
      margin: 0 auto;
    }
    @media screen and (max-width: 576px) {
      margin: 0;
      margin-left: auto;
    }
  }
  &__img {
    flex: 0 0 50%;
    position: relative;
    padding-bottom: 50%;
    cursor: pointer;
    z-index: 1;
    @media screen and (max-width: 576px) {
      flex: 0 0 100%;
      padding-bottom: 100%;
    }
    &:hover::before {
      background: none;
    }
    &:hover .about__name {
      opacity: 1;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(12, 12, 12, 0.7);
      transition: background 0.5s ease;
      z-index: 2;
    }
  }
  &__name {
    position: absolute;
    bottom: 5rem;
    left: -5rem;
    padding: 2.6rem 1.9rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #000;
    text-transform: uppercase;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 5px 15px 40px 0 rgba(0, 201, 224, 0.2);
    transition: opacity 0.5s ease;
    z-index: 2;
    opacity: 0;
    strong {
      color: #00c9e0;
    }
    @media screen and (max-width: 768px) {
      padding: 1.8rem 1.6rem;
      font-size: 1.3rem;
    }
  }
}
