.adventure {
  padding-top: 10rem;
  padding-bottom: 24.5rem;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 992px) {
    padding-bottom: 20rem;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 6rem;
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 16rem;
  }
  &__header {
    margin: 0 auto;
    margin-bottom: 5.3rem;
    display: flex;
    align-items: center;
    column-gap: 3.3rem;
    max-width: 120rem;
    @media screen and (max-width: 768px) {
      display: block;
      margin-bottom: 4rem;
    }
  }
  @media screen and (max-width: 576px) {
    padding-top: 6rem;
  }
  &__title {
    @media screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
  &__close {
    height: 2.4rem;
    svg {
      display: block;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__text {
    max-width: 36rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fff;
    @media screen and (max-width: 576px) {
      max-width: initial;
    }
  }
  &__tabs {
    display: flex;
    margin: 0 auto 15rem;
    max-width: 120rem;
    @media screen and (max-width: 992px) {
      margin-bottom: 9rem;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 7rem;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: 5rem;
      flex-wrap: wrap;
    }
  }
  &__tab {
    flex: 1;
    padding: 3.3rem 2rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #41ead4;
    border-bottom: 1px solid #41ead4;
    cursor: pointer;
    &.active {
      border-bottom-width: 3px;
    }
    @media screen and (max-width: 576px) {
      flex: 0 0 50%;
    }
  }
  &__item {
    position: relative;
    display: none;
    opacity: 0;
    padding: 5rem;
    transition: all 0.3s ease;
    z-index: 2;
    &.active {
      display: block;
    }
    &.show {
      opacity: 1;
    }
    @media screen and (max-width: 576px) {
    padding: 1rem;
    }
  }
  &__flex {
    display: flex;
    column-gap: 12.6rem;
    max-width: 120rem;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      column-gap: 7rem;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      max-width: initial;
    }
    @media screen and (max-width: 576px) {
      gap: 4rem;
    }
  }
  &__wrap {
    position: relative;
    flex: 0 0 48rem;
    height: 60.7rem;
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
    @media screen and (max-width: 992px) {
      flex: 0 0 44rem;
    }
    @media screen and (max-width: 576px) {
      flex: 0 0 100%;
      height: auto;
    }
  }
  &__body {
    flex: 0 0 38%;
    margin-top: 5.6rem;
    @media screen and (max-width: 992px) {
      margin-top: 3rem;
      flex: 0 0 46%;
      padding-right: 3rem;
    }
    @media screen and (max-width: 768px) {
      flex: 0 0 100%;
    }
    @media screen and (max-width: 576px) {
      padding-right: 0;
    }
  }
  &__subtitle {
    margin-bottom: 3.4rem;
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fff;
    @media screen and (max-width: 992px) {
      font-size: 5.8rem;
    }
    @media screen and (max-width: 768px) {
      font-size: 5.2rem;
    }
    @media screen and (max-width: 576px) {
    font-size: 4.4rem;
    }
  }
  &__btn {
    margin-top: 4.5rem;
  }
  &__dotted {
    position: absolute;
    bottom: 0;
    left: 5.6rem;
    height: 23rem;
    z-index: -1;
    @media screen and (max-width: 1200px) {
      bottom: 4rem;
    }
    @media screen and (max-width: 992px) {
      bottom: 9rem;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__socials {
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    @media screen and (max-width: 1100px) {
      bottom: -3rem;
    }
    @media screen and (max-width: 768px) {
      bottom: 5%;
    }
    @media screen and (max-width: 576px) {
      bottom: -10%;
    }
  }
  .slick-prev,
  .slick-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.5rem;
    height: 6.5rem;
    background: #011627;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    z-index: 10;
    transition: background 0.3s ease;
    &:hover {
      background: #41adea;
    }
  }
  .slick-prev {
    right: 6.5rem;
    border-right: 1px solid rgba(19, 49, 73, 0.5);
    border-radius: 8px 0 0 0;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .slick-next {
    border-left: 1px solid rgba(19, 49, 73, 0.5);
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
