.adventure {
  position: relative;
  z-index: 1;
  padding-bottom: 100rem;
  .fon {
    position: absolute;
    top: -14rem;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__header {
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 5.3rem;
    display: flex;
    align-items: center;
    column-gap: 3.3rem;
  }
  &__close {
    height: 2.4rem;
    svg {
      display: block;
    }
  }
  &__text {
    max-width: 36rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fff;
  }
  &__tabs {
    display: flex;
    max-width: 120rem;
    margin: 0 auto 15rem;
  }
  &__tab {
    flex: 1;
    padding: 3.3rem 2rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #41ead4;
    border-bottom: 1px solid #41ead4;
    cursor: pointer;
    &.active {
      border-bottom-width: 3px;
    }
  }
  &__item {
    position: relative;
    display: none;
    opacity: 0;
    padding: 5rem;
    transition: all 0.3s ease;
    z-index: 2;
    &.active {
      display: block;
    }
    &.show {
      opacity: 1;
    }
  }
  &__flex {
    display: flex;
    column-gap: 12.6rem;
    max-width: 120rem;
    margin: 0 auto;
  }
  &__wrap {
    position: relative;
    flex: 0 0 41%;
    height: 60.7rem;
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
  }
  &__img {
    height: inherit;
  }
  &__body {
    flex: 0 0 38%;
    margin-top: 5.6rem;
  }
  &__subtitle {
    margin-bottom: 3.4rem;
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fff;
  }
  p {
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--text-primary);
    strong {
      font-weight: 700;
    }
  }
  p:not(:last-child) {
    margin-bottom: 4rem;
  }
  &__btn {
    margin-top: 4.5rem;
  }
  &__arrows {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 6.5rem;
    background: #011627;
    cursor: pointer;
    &:hover svg {
      transform: scale(1.2);
    }
    svg {
      height: 2.4rem;
      width: 2.4rem;
      transition: all .3s ease;
    }
  }
  &__arrow--prev {
    border-radius: 8px 0 0 0;
    border-right: 1px solid rgba(19, 49, 73, 0.5);
  }
  &__arrow--next {
    border-left: 1px solid rgba(19, 49, 73, 0.5);
  }
  &__dotted {
    position: absolute;
    bottom: 0;
    left: 5.6rem;
    height: 23rem;
    z-index: -1;
  }
  &__socials {
    position: absolute;
    bottom: 5rem;
    right: 1rem;
  }
}
