.home-intro {
  position: relative;
  height: 119.4rem;
  @media screen and (max-width: 576px) {
  height: 94rem;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(1, 22, 39, 0) 0%,
      #011627 76.64%,
      #011627 100%
    );
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .container {
    height: inherit;
  }
  &__body {
    position: relative;
    height: inherit;
    z-index: 2;
  }
  &__content {
    position: relative;
    margin: 0 auto;
    padding-top: 29.5rem;
    max-width: 62rem;
    text-align: center;
    z-index: 3;
    @media screen and (max-width: 576px) {
    padding-top: 24rem;
    }
  }
  &__title {
    margin-bottom: 1.4rem;
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 12rem;
    letter-spacing: -0.02em;
    @media screen and (max-width: 1200px) {
   font-size: 10rem; 
    }
    @media screen and (max-width: 992px) {
   font-size: 9rem; 
    }
    @media screen and (max-width: 768px) {
      font-size: 8rem;
    }
    @media screen and (max-width: 576px) {
      font-size: 6rem;
    }
  }
  &__subtitle {
    margin-bottom: 5rem;
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @media screen and (max-width: 576px) {
    font-size: 1.6rem;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
    @media screen and (max-width: 576px) {
    // font-size: 1,6rem;
    }
  }
  &__scroll {
    position: absolute;
    display: inline-block;
    bottom: 28%;
    left: -2%;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.9;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transform-origin: center center;
    transform: rotate(-90deg);
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      left: -150%;
      top: 50%;
      transform: translateY(-50%);
      width: 8rem;
      height: 2px;
      background: #00c9e0;
    }
  }
  &__socials {
    position: absolute;
    bottom: 19%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    z-index: 3;
    svg {
      transition: all 0.3s ease;
    }
    a:hover svg {
      transform: scale(1.2);
    }
  }
}
